.section-shop {
   position: relative;
   margin: 4rem 0 2rem;
   background-color: $color-primary-bg;
   &__left {
      margin-left: 4%;
      padding: 2rem 2rem;
      &--list {
         & > li {
            list-style: none;
            padding: 2rem 1.4rem 0.4rem;
            border: 0.1rem solid #ccc;
            transition: all 0.4s;
            &:hover a {
               color: $color-primary-y;
               transform: translateX(0.3rem) scale(1.1);
            }
            &:active a {
               transform: translateX(0.1rem);
            }
            & > a {
               display: inline-block;
               color: $color-t-b;
               font-weight: 600;
               text-decoration: none;
            }
         }
      }
   }
   &__right {
      margin-bottom: 4rem;
      &--title {
         margin-bottom: 2rem;
         color: $color-t-b;
         font-size: 3rem;
         letter-spacing: 0.2rem;
      }
   }
   &__modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(black, 0.4);
      z-index: 2;
      transition: all 0.5s;
      &--box {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 60%;
         height: 60%;
         display: flex;
         border-radius: 2rem;
         overflow: hidden;
         background-color: #fff;
         animation: GrowUp ease 1s;
      }
   }
}
