$color-primary: #282828;
$color-primary-y: #ddda2d;
$color-primary-btn: #f1ee1e;
$color-white: #ffffff;
$color-t-b: #000000;
$color-btn-hover: #eaee1e;
$color-title-product: #1d75c4;
$color-price-product: #f35353;

$size-img-banner: 8rem;
